// colors
$primary: #1b2c1e;
$lightPrimary: #63856a;

$secondary: #e0d0a8;
$lightSecondary: #f5f0e5;
$mediumSecondary: #c1c1aa;
$lightDarkSecondary: #878c69;
$darkSecondary: #615a49;

$background: #d9c4a5;
$black: #000000;

// font
$headerFont: "Inter", sans-serif;
$textFont: "Inria Serif", serif;
