// colors
$primary: #1b2c1e;
$lightPrimary: #314134;

$secondary: #e0d0a8;
$lightSecondary: #f9eeda;
$mediumSecondary: #c1c1aa;
$lightDarkSecondary: #878c69;
$darkSecondary: #615a49;

$background: #d9c4a5;
$black: #000000;

// font
$headerFont: "Inter", sans-serif;
$textFont: "Inria Serif", serif;
